body{
    background: url("../imagens/fundo.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #d22d00;
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 10px 20px;
    box-sizing: border-box;
}

nav{
    width: 960px;
    margin: 0 auto;
    background: #d9a300;
    box-sizing: border-box;
    padding: 15px 35px;
}

main{
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    background: white;
    padding: 40px 25px 30px 25px;
}

.telefone{
    position: absolute;
    right: 0;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 26px;
    margin-right: 20px;
    margin-top: 16px;
}

.logo{
    display: inline-block;
}

.menu-navegacao li{
    display: inline-block;
    margin-right: 20px;
}

.menu-navegacao li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.menu-navegacao li a:hover{
    text-decoration-line: underline;
}

.titulo-principal{
    font-size: 50px;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    margin-bottom: 20px;
    color: #333333;
}

.pizza-banner li{
    display: inline-block;
    text-align: center;
}

.pizza-banner li figcaption{
    margin-top: 10px;
}

.pizza-banner{
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.nossos-sabores , .historia{
    display: inline-block;
    box-sizing: border-box;
    width: 45%;
    vertical-align: top;
}

.subtitulo-principal{
    font-size: 35px;
    margin-bottom: 20px;
}

.lista-sabores{
    column-count: 3;
}

.imagem-historia{
    margin-right: 10px;
}

.historia a{
    color: #d93600;
}